@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
	height:auto;
	display:relative;
	justify-content:center;
	align-items:center;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(0deg, #eef2f5 0%, #eef2f5 70%, rgba(60, 180, 250, .15) 100%);
	color: #636d84;
}

h2{
  margin:0px;
  text-transform: uppercase;
}

h6{
  margin:0px;
  color:#777;
}

#wrap {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper{
  text-align:center;
  margin:50px auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
	align-items:center;
}

.tabs{
  position: fixed;
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  bottom: 50px; 
  transition:bottom .2s;
  justify-content: space-evenly;
  z-index: 8;
}

.tabs.non {
  display: none;
}

.tabs.hide {
  bottom: -50px; 
  transition:bottom .2s;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

.container {
  width: 1500px;
  height: 1000px;
  box-shadow: 0px 2px 4px black;
  background: white;
  overflow: hidden;
  z-index: 4;
}

.content {
  display: flex;
  width: 6000px;
  height: 100%;
}

.content .content3 {
  width: 7500px;
}

.content .content4{
  width: 7500px;
}

.content_vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4000px;
}

.item {
  width: 1500px;
  color: black;
  background: white;
  display: flex;
  row-gap: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item_vertical {
  height: 1000px;
  color: black;
  background: white;
  display: flex;
  row-gap: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link {
  transition: all 0.3s;
}

.line {
  width: 70%;
  height: 8px;
  margin-top:5px;
  background: gainsboro;
  border-radius: 8px;
}

.line2 {
  width: 50%;
}

footer {
	width: 100%;
	height: 110px; /* 내용물에 따라 알맞는 값 설정 */
	bottom: 0px;
	position: absolute;
}

section {
	padding-bottom: 20px; /* footer의 height값과 동일 */
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  bottom: 0px;
  position: absolute;
  background: rgb(0, 0, 0, 0.15);
}


#footer p {
  font-size: 15px;
  letter-spacing: 2px;
  color: black;
  margin-top: 35px;
}

#footer a {
  justify-content: right;
  margin-top: 0px;
  margin-left: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  color:darkgray;
}

#footer a:visited {
  color: cadetblue;
}

.sidebar {
  float: left;
  width: 10%;
}

.sidebar-content {
  position: fixed;
  width: 10%;
  height: 100%;
  background: #a9f3e7;
  -webkit-transition: all 1s ease-in;
	   -moz-transition: all 1s ease-in;
	    -ms-transition: all 1s ease-in;
	     -o-transition: all 1s ease-in;
	        transition: all 1s ease-in;
}

.sidebar-list {
	position: absolute;
	top: 38%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.sidebar-list-menu {
	position: relative;
	list-style: none;
	margin-left: 100px;
	padding: 0;
}

.sidebar-list-menu::after {
	position: absolute;
	content: ' ';
	top: 0;
	bottom: 0;
	left: -20px;
	width: 2px;
	height: 100%;
	background: #333;
	z-index: 9;
}

.sidebar-list-menu li a {
	position: relative;
	display: inline-block;
	line-height: 50px;
	font-weight: 400;
	cursor: pointer;
	color: #333;
	text-decoration: none;
}
.sidebar-list-menu li a.activeL {
	font-weight: 900;
  color: #3fad9b;
}

.sidebar-list-menu-active-bar {
	position: absolute;
	width: 6px;
	height: 50px;
	background: #3fad9b;
	top: 0;
	left: -22px;
	z-index: 999;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
	transition-delay: 0;
}

@media (max-width: 768px) {
	.sidebar, .sidebar-content {
		width: 35%;
	}
	.content {
		width: 65%;
	}
	.sidebar-list-menu {
		margin-left: 15px;
	}
	.sidebar-list-menu::after {
		left: -10px;
	}
	.sidebar-list-menu-active-bar {
		left: -12px;
	}
}